# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.env

# Distribución / Paquetes
dist/
build/
*.egg-info/

# IDEs
.idea/
.vscode/
*.swp

# Logs y Bases de Datos locales (si no están en docker)
*.log
*.sqlite

# MacOS
.DS_Store